<div class="contain">
    <button class="left" (click) = "prevImage()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <div class="content">
        <div class="imgdetail">
            <img src="" alt="">
        </div>
        <div class="infor">
            <table class="table-infor">
                <thead class="">
                    <tr>
                        <th class="name">Tên</th>
                        <th class="numcontact">Số HĐ</th>
                        <th class="tax">Mã số thuế</th>
                        <th class="price">Price</th>
                        <th class="curency">Curency</th>
                        <th class="vat">Include VAT</th>
                        <th class="rate"> VAT Role</th>
                    </tr>
                </thead>
                <tbody class="tbody1">
                    <tr>
                        <td class = 'col-infor4'>
                        </td>
                        <td class = 'col-infor5'>
                        </td>
                        <td class = 'col-infor6'>
                        </td>
                        <td class = 'col-infor7'>
                        </td>
                        <td class = 'col-infor8'>
                        </td>
                        <td class = 'col-infor9'>
                        </td>
                        <td class = 'col-infor10'>
                        </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="right" (click) = "nextImage()">
        <i class="fas fa-chevron-right"></i>
    </button>
</div>