label {
  display: inline-block;
  margin-top: 20px;
  font-family: "Roboto SemiBold", sans-serif;
  font-weight: bold;
  margin-bottom: 3px;
}
button {
  height: 26px;
  background-color: #1565aa;
  border-color: #125893;
  color: #fff;
  cursor: pointer;
}
.main {
  font-family: "Roboto", sans-serif;
}
input.invalid {
  border-color: red;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: none;
  background: transparent;
  width: none;
  height: none;
  padding:0;
  /* max-width: none;
  background: transparent;
  margin-left: 0px;
  justify-content: center;
  padding: 20px 170px; */
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
  background-color: transparent;
}
.modal-content{
  border-radius: 0;
}
